<ion-header>
  <ion-navbar color="warning">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="titleicon">
      <img src="https://gallery.mailchimp.com/cc1505233db775a46edcf7259/images/a0fd24ee-e4ff-4916-92f2-f675891f21f3.png"
           width="100px"/>
    </div>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form (ngSubmit)="login()" #formulario="ngForm" [formGroup]="validations_form">
    <ion-item>
      <ion-input [(ngModel)]="email" type="text" placeholder="Email" formControlName="email"></ion-input>
      <ion-icon showWhen="ios" *ngIf="isFieldInvalid('email'); else done_button" name="close" color="danger"
                item-right></ion-icon>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="password" type="password" placeholder="Senha do APP"
                 formControlName="password"></ion-input>
      <ion-icon showWhen="ios" *ngIf="isFieldInvalid('password'); else done_button" name="close" color="danger"
                item-right></ion-icon>
    </ion-item>

    <div item-right style="padding-left: 16px; padding-top: 8px;">Esqueci a senha!</div>
    <ion-item no-lines>
      <button ion-item color="warning" text-center [disabled]="isInvalid()">
        Logar
      </button>
    </ion-item>

    <ng-template #done_button>
      <ion-icon name="checkmark" color="secondary" item-right></ion-icon>
    </ng-template>
  </form>
</ion-content>
