<ion-header>
  <ion-navbar color="warning">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="titleicon">
      <img src="https://gallery.mailchimp.com/cc1505233db775a46edcf7259/images/a0fd24ee-e4ff-4916-92f2-f675891f21f3.png" width="100px"
      />
    </div>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment *ngIf="categoryList" [(ngModel)]="category" color="warning">
      <ion-segment-button *ngFor="let category of categoryList" value="{{category.name}}">
        {{category.name}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div [ngSwitch]="category">
    <ng-container *ngFor="let category of categoryList">
      <ion-list *ngSwitchCase="category.name">
        <ion-item *ngFor="let product of getProducts(category)" (click)="showDetails(product)">
          <ion-thumbnail item-start>
            <img src={{product.image}}>
          </ion-thumbnail>
          <h2>{{product.name}}</h2>
          <p>{{product.description}}</p>
          <button ion-button clear item-end color="warning">Ver</button>
        </ion-item>
      </ion-list>
    </ng-container>
  </div>
</ion-content>